body, html {
margin: 0;
padding: 0;
height: 100%;
font-family: sans-serif;
line-height: 150%;
color: #666;
text-align: center;
}
.parallax1{
    background: url(https://c.ndtvimg.com/2020-11/ot0rjv9_choti-diwali-2020_625x300_12_November_20.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
}
.parallax2{
    background: url(https://img.etimg.com/thumb/msid-66431772,width-1200,height-900,imgsize-71914,overlay-economictimes/photo.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
}
.parallax3{
    background: url(https://image.slidesharecdn.com/diwali2014-141013011038-conversion-gate02/95/happy-diwali-2014-3-638.jpg?cb=1413162687);
    min-height: 100%;
    background-repeat: no-repeat;
}
.parallax4{
    background: url(https://cdn4.dogonews.com/images/12d97175-ec7a-4dc6-be6f-05c8ea2343d3/diwali-celebration-750x430.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
}
.parallax1 , .parallax2 , .parallax3, .parallax4{
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.heading{
    position: absolute;
    color: #fff;
    font-size: 550%;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
}
.heading-1{
    position: absolute;
    top: 45%;
    width: 100%;
     font-size: 250%;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 5px;
     text-shadow: 0 0 10px #000;
}
.two-col{
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
}
section{
    overflow: auto;
    padding: 50px 80px;
}
.dark{
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
}
@media (max-width:786px) {
    .heading{
        font-size: 250%;
    }
    .heading-1{
        font-size: 180%;
    }
    .two-col{
        width: 100%;
        padding: 0;
        text-align: center;
    }
}